#contact{
    background-color: rgba(40, 22, 0);
}
.contact__container{
    display: grid;
    grid-template-columns: 3fr 1.5fr 2fr 2fr;
    gap: 6rem;

}
h5{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
}

.contact__socials a{
    color: #d8bd9f;
    font-size: 2rem;
    margin-right: 1rem;
}


.contact__socials a:hover{
    transform: translateY(1rem);
}

p{
    font-size: 0.9rem;
}

.contact__email a{
     color: #d8bd9f;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    .contact__container{
        grid-template-columns: 0.7fr;
        place-items: center;

    }
    .contact__container,.contact__email,.contact__socials,.contact__phone{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width: 1024px) {
    .contact__container{
        grid-template-columns: 1fr;
        place-items: center;

    }
    .contact__address{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}